<!-- about.html -->
{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="about-section">
    <h2>About Me</h2>
    <p>Hi there! I’m Kelvin Kyalo, a dedicated Data Scientist with a growing passion for Web Development. With a strong analytical background and a knack for problem-solving, I thrive on turning data into actionable insights and building solutions that make a difference.

As a Virtual Assistant with ALX Africa, I’ve honed my skills in organization, communication, and delivering exceptional support in dynamic environments. My journey in web development has been an exciting extension of my technical expertise, allowing me to craft functional and visually appealing digital experiences.

Whether it’s analyzing complex datasets, building responsive websites, or streamlining workflows, I’m all about learning, growing, and contributing value. In my free time, I enjoy exploring innovative technologies and expanding my horizons.</p>
</div>
{% endblock %}
